packages:
  yum:
    gcc: ''
    libjpeg-turbo-devel: ''
    zlib-devel: ''
    libzip-devel: ''
    libmemcached: ''
    libmemcached-devel: ''
    cyrus-sasl-devel: ''
    python27: ''
    python27-devel: ''
    postgresql93-devel: ''
    postgresql93-libs: ''

files:
  "/tmp/packages.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      yum list installed elgis-release || yum install -y --nogpgcheck https://s3.amazonaws.com/kpmkhv-software/rpm-packages/elgis-release-6-6_0.noarch.rpm
      yum list installed lcms-libs || yum install -y --nogpgcheck https://s3.amazonaws.com/kpmkhv-software/rpm-packages/lcms-libs-1.19-5.4.x86_64.rpm
      yum list installed poppler-data || yum install -y --nogpgcheck https://s3.amazonaws.com/kpmkhv-software/rpm-packages/poppler-data-0.4.0-1.el6.noarch.rpm
      yum list installed poppler || yum install -y --nogpgcheck https://s3.amazonaws.com/kpmkhv-software/rpm-packages/poppler-0.12.4-7.1.x86_64.rpm
      yum-config-manager -y --enable epel
      yum repolist | grep pgdg93/x86_64 || yum-config-manager --add-repo http://yum.postgresql.org/9.3/redhat/rhel-6-x86_64/
      yum list installed postgis || yum install -y --nogpgcheck  postgis2_93        

commands: 
  packages_5:
    command: "/tmp/packages.sh"
    ignoreErrors: true
