container_commands:
  01_collectstatic:
    command: 'PYTHONPATH=.:..:../lib cd site/{project} && ./manage.py collectstatic -c --noinput && cd ../..'
    leader_only: true
  02_syncdb:
    command: 'PYTHONPATH=.:..:../lib cd site/{project} && ./manage.py syncdb --noinput && cd ../..'
    leader_only: true
  03_migrate:
    command: 'PYTHONPATH=.:..:../lib cd site/{project} && ./manage.py migrate --noinput && cd ../..'
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: site/{project}/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: site/{project}/static/
  - option_name: AWS_STORAGE_BUCKET_NAME 
    value: __TODO__
  - option_name: CAPTCHA_AJAX  
    value: False 
  - option_name: DEBUG
    value: False
  - option_name: DJANGO_MEDIA_URL
    value: __TODO__
  - option_name: DJANGO_SECRET_KEY
    value: __TODO__
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings_prod
  - option_name: DJANGO_STATIC_URL
    value: __TODO__
  - option_name: FACEBOOK_APP_ID 
    value: __TODO__
  - option_name: FACEBOOK_APP_SECRET
    value: __TODO__
  - option_name: GOOGLE_API_KEY 
    value: __TODO__
  - option_name: NOCAPTCHA 
    value: True
  - option_name: PYTHONPATH
    value: .:..:../lib
  - option_name: RDS_DB_NAME
    value: __TODO__
  - option_name: RDS_HOSTNAME
    value: __TODO__
  - option_name: RDS_PASSWORD
    value: __TODO__
  - option_name: RDS_PORT
    value: 5432 
  - option_name: RDS_USERNAME
    value: __TODO__
  - option_name: RECAPTCHA_PRIVATE_KEY 
    value: __TODO__
  - option_name: RECAPTCHA_PUBLIC_KEY  
    value: __TODO__
  - option_name: RECAPTCHA_USE_SSL 
    value: True 
  - option_name: SITE_NAME 
    value: __TODO__ 
  - option_name: PROJECT 
    value: {project}
