commands:
  httpd_conf_1:
    command: "sed -i 's/Options Indexes FollowSymLinks/Options -Indexes -FollowSymLinks/' /etc/httpd/conf/httpd.conf"
  httpd_conf_2:
    command: "sed -i 's/Options Indexes MultiViews FollowSymLinks/Options -Indexes -MultiViews -FollowSymLinks/' /etc/httpd/conf/httpd.conf"
  httpd_conf_3:
    command: "sed -i 's/ServerSignature On/ServerSignature Off/' /etc/httpd/conf/httpd.conf"
  httpd_conf_4:
    command: "sed -i 's/ServerTokens OS/ServerTokens Prod/' /etc/httpd/conf/httpd.conf"
  httpd_conf_5:
    command: "grep -q 'TraceEnable' '/etc/httpd/conf/httpd.conf' || echo 'TraceEnable off' >> /etc/httpd/conf/httpd.conf"
